{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Wecom customer service api",
    "description": "Wecom customer service api",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "binarycraft"
    },
    "license": {
      "name": "MIT"
    }
  },
  "host": "qyapi.weixin.qq.com",
  "basePath": "/cgi-bin",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "securityDefinitions": {
    "access_token": {
      "type": "apiKey",
      "name": "access_token",
      "in": "query"
    }
  },
  "paths": {
    "/gettoken": {
      "get": {
        "tags": [
          "token"
        ],
        "description": "get access token using corpid and secret",
        "operationId": "get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "corpid",
            "in": "query",
            "description": "corporation id",
            "required": true,
            "type": "string"
          },
          {
            "name": "corpsecret",
            "in": "query",
            "description": "corporation secret",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "get access token response",
            "schema": {
              "$ref": "#/definitions/GetAccessTokenReponse"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/kf/account/add": {
      "post": {
        "tags": [
          "account"
        ],
        "description": "add customer service account",
        "operationId": "add",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "AddCustomerServiceAccountRequest",
            "in": "body",
            "description": "add customer service account request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddCustomerServiceAccountRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "add customer service account response",
            "schema": {
              "$ref": "#/definitions/AddCustomerServiceAccountReponse"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/kf/account/del": {
      "post": {
        "tags": [
          "account"
        ],
        "description": "delete customer service account",
        "operationId": "delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "DelCustomerServiceAccountRequest",
            "in": "body",
            "description": "delete customer service account request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DelCustomerServiceAccountRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "delete customer service account response",
            "schema": {
              "$ref": "#/definitions/DelCustomerServiceAccountReponse"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/kf/account/update": {
      "post": {
        "tags": [
          "account"
        ],
        "description": "update customer service account",
        "operationId": "update",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "updateCustomerServiceAccountRequest",
            "in": "body",
            "description": "update customer service account request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCustomerServiceAccountRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "update customer service account response",
            "schema": {
              "$ref": "#/definitions/UpdateCustomerServiceAccountReponse"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/kf/account/list": {
      "post": {
        "tags": [
          "account"
        ],
        "description": "list customer service account",
        "operationId": "list",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "listCustomerServiceAccountRequest",
            "in": "body",
            "description": "list customer service account request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListCustomerServiceAccountRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list customer service account response",
            "schema": {
              "$ref": "#/definitions/ListCustomerServiceAccountReponse"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/kf/sync_msg": {
      "post": {
        "tags": [
          "message"
        ],
        "description": "sync message",
        "operationId": "sync",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SyncRequest",
            "in": "body",
            "description": "sync message request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SyncRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "sync message response",
            "schema": {
              "$ref": "#/definitions/SyncReponse"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/kf/send_msg": {
      "post": {
        "tags": [
          "message"
        ],
        "description": "send message",
        "operationId": "send",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SendRequest",
            "in": "body",
            "description": "send message request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "send message response",
            "schema": {
              "$ref": "#/definitions/SendReponse"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/kf/service_state/get": {
      "post": {
        "tags": [
          "service_state"
        ],
        "description": "get service state",
        "operationId": "getState",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "getServiceStateRequest",
            "in": "body",
            "description": "get service state request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetServiceStateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get service state response",
            "schema": {
              "$ref": "#/definitions/GetServiceStateReponse"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/kf/service_state/trans": {
      "post": {
        "tags": [
          "service_state"
        ],
        "description": "transform service state",
        "operationId": "transform",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "transformServiceStateRequest",
            "in": "body",
            "description": "transform service state request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransformServiceStateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "transform service state response",
            "schema": {
              "$ref": "#/definitions/TransformServiceStateReponse"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    }
  },
  "definitions": {
    "GetAccessTokenReponse": {
      "type": "object",
      "required": [
        "errcode",
        "errmsg"
      ],
      "properties": {
        "errcode": {
          "type": "integer",
          "format": "int32"
        },
        "errmsg": {
          "type": "string"
        },
        "access_token": {
          "type": "string"
        },
        "expires_in": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AddCustomerServiceAccountRequest": {
      "type": "object",
      "required": [
        "name",
        "media_id"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "media_id": {
          "type": "string"
        }
      }
    },
    "AddCustomerServiceAccountReponse": {
      "type": "object",
      "required": [
        "errcode",
        "errmsg"
      ],
      "properties": {
        "errcode": {
          "type": "integer",
          "format": "int32"
        },
        "errmsg": {
          "type": "string"
        },
        "open_kfid": {
          "type": "string"
        }
      }
    },
    "DelCustomerServiceAccountRequest": {
      "type": "object",
      "required": [
        "open_kfid"
      ],
      "properties": {
        "open_kfid": {
          "type": "string"
        }
      }
    },
    "DelCustomerServiceAccountReponse": {
      "type": "object",
      "required": [
        "errcode",
        "errmsg"
      ],
      "properties": {
        "errcode": {
          "type": "integer",
          "format": "int32"
        },
        "errmsg": {
          "type": "string"
        }
      }
    },
    "UpdateCustomerServiceAccountRequest": {
      "type": "object",
      "required": [
        "open_kfid"
      ],
      "properties": {
        "open_kfid": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "media_id": {
          "type": "string"
        }
      }
    },
    "UpdateCustomerServiceAccountReponse": {
      "type": "object",
      "required": [
        "errcode",
        "errmsg"
      ],
      "properties": {
        "errcode": {
          "type": "integer",
          "format": "int32"
        },
        "errmsg": {
          "type": "string"
        }
      }
    },
    "ListCustomerServiceAccountRequest": {
      "type": "object",
      "properties": {
        "offset": {
          "type": "integer",
          "format": "int32"
        },
        "limit": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListCustomerServiceAccountReponse": {
      "type": "object",
      "required": [
        "errcode",
        "errmsg"
      ],
      "properties": {
        "errcode": {
          "type": "integer",
          "format": "int32"
        },
        "errmsg": {
          "type": "string"
        },
        "account_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomerServiceAccount"
          }
        }
      }
    },
    "CustomerServiceAccount": {
      "type": "object",
      "required": [
        "open_kfid",
        "name",
        "avatar"
      ],
      "properties": {
        "open_kfid": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "avatar": {
          "type": "string"
        }
      }
    },
    "Message": {
      "type": "object",
      "properties": {
        "msgid": {
          "type": "string"
        },
        "open_kfid": {
          "type": "string"
        },
        "external_userid": {
          "type": "string"
        },
        "send_time": {
          "type": "integer",
          "format": "int64"
        },
        "origin": {
          "type": "integer",
          "format": "int32"
        },
        "msgtype": {
          "type": "string"
        },
        "text": {
          "type": "object",
          "properties": {
            "content": {
              "type": "string"
            },
            "menu_id": {
              "type": "string"
            }
          }
        }
      }
    },
    "SyncRequest": {
      "type": "object",
      "properties": {
        "cursor": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "limit": {
          "type": "integer",
          "format": "uint32"
        },
        "voice_format": {
          "type": "integer",
          "format": "uint32"
        },
        "open_kfid": {
          "type": "string"
        }
      }
    },
    "SyncReponse": {
      "type": "object",
      "required": [
        "errcode",
        "errmsg"
      ],
      "properties": {
        "errcode": {
          "type": "integer",
          "format": "int32"
        },
        "next_cursor": {
          "type": "string"
        },
        "has_more": {
          "type": "integer",
          "format": "int32"
        },
        "errmsg": {
          "type": "string"
        },
        "msg_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Message"
          }
        }
      }
    },
    "SendRequest": {
      "type": "object",
      "properties": {
        "touser": {
          "type": "string"
        },
        "msgid": {
          "type": "string"
        },
        "msgtype": {
          "type": "string"
        },
        "text": {
          "type": "object",
          "properties": {
            "content": {
              "type": "string"
            }
          }
        },
        "open_kfid": {
          "type": "string"
        }
      }
    },
    "SendReponse": {
      "type": "object",
      "required": [
        "errcode",
        "errmsg"
      ],
      "properties": {
        "errcode": {
          "type": "integer",
          "format": "int32"
        },
        "msgid": {
          "type": "string"
        },
        "errmsg": {
          "type": "string"
        }
      }
    },
    "GetServiceStateRequest": {
      "type": "object",
      "required": [
        "open_kfid",
        "external_userid"
      ],
      "properties": {
        "open_kfid": {
          "type": "string"
        },
        "external_userid": {
          "type": "string"
        }
      }
    },
    "GetServiceStateReponse": {
      "type": "object",
      "properties": {
        "errcode": {
          "type": "integer",
          "format": "int32"
        },
        "servicer_userid": {
          "type": "string"
        },
        "service_state": {
          "type": "integer",
          "format": "int32"
        },
        "errmsg": {
          "type": "string"
        }
      }
    },
    "TransformServiceStateRequest": {
      "type": "object",
      "required": [
        "open_kfid",
        "external_userid",
        "service_state"
      ],
      "properties": {
        "open_kfid": {
          "type": "string"
        },
        "external_userid": {
          "type": "string"
        },
        "service_state": {
          "type": "integer",
	  "format": "int32"
        },
        "servicer_userid": {
          "type": "string"
        }
      }
    },
    "TransformServiceStateReponse": {
      "type": "object",
      "required": [
        "errcode",
        "errmsg"
      ],
      "properties": {
        "errcode": {
          "type": "integer",
          "format": "int32"
        },
        "msg_code": {
          "type": "string"
        },
        "errmsg": {
          "type": "string"
        }
      }
    },
    "ErrorModel": {
      "type": "object",
      "required": [
        "errcode",
        "errmsg"
      ],
      "properties": {
        "errcode": {
          "type": "integer",
          "format": "int32"
        },
        "errmsg": {
          "type": "string"
        }
      }
    }
  }
}
